$primary-dark-blue: #1e2633;
$background-gradient-start: #24322a;    
$background-gradient-middle: #1e2633;  
$background-gradient-end: #1b1e25;      
$header-background: #0c0d12;            
$link-color: #eaeaea;                   
$link-hover: #2d5742;                   
$title-color: #c9d1d9;                  
$highlight-green: #4a6f51;              
$table-bg: #2a2f2b;                     
$table-text: #ffffff;                   
